{% extends "base.html" %}

{% block content %}
  <div class="main">
    <h2>Add Data</h2>
    <form method="post" action="/add_data">
      <label for="year_month">Year-Month:</label>
      <input type="text" id="year_month" name="year_month"><br><br>
      <label for="water_bill">Water Bill:</label>
      <input type="text" id="water_bill" name="water_bill"><br><br>
      <label for="water_usage">Water Usage:</label>
      <input type="text" id="water_usage" name="water_usage"><br><br>
      <input type="submit" value="Add">
    </form>
  </div>
{% endblock %}

